.store-list-view.container


	h4 filter
	.row
		.col-sm-3
			.price-filter
				//- form.form-inline.text-center(role="form" novalidate)
				//- 	.form-group.pull-left
				//- 		input.form-control.input-sm(
				//- 			type="number"
				//- 			name="priceRangeMin"
				//- 			ng-model="vm.filter.price.selected.min"
				//- 			min="{{vm.filter.price.range.min}}"
				//- 			max="{{vm.filter.price.range.max}}"
				//- 		)

				//- 	label Preis

				//- 	.form-group.pull-right
				//- 		input.form-control.input-sm(
				//- 			type="number"
				//- 			name="priceRangeMax"
				//- 			ng-model="vm.filter.price.selected.max"
				//- 			min="{{vm.filter.price.range.min}}"
				//- 			max="{{vm.filter.price.range.max}}"
				//- 		)
				h5 price range
				div(
					range-slider
					min="vm.filter.price.range.min"
					max="vm.filter.price.range.max"
					model-min="vm.filter.price.selected.min"
					model-max="vm.filter.price.selected.max"
					filter="currency"
					filter-options="€"
					step="5"
					prevent-equal-min-max
					show-values="true"
				)

	h4 1234 elements availeble

	.products-grid
		//- .row( ng-repeat="r in vm.rows" )
		//- 	.col-md-3.col-sm-6( ng-repeat="c in r" )
		//- 		.product
		//- 			img.img-responsive( ng-src="{{c.image}}" )
		//- 			.title {{c.title}}
		//- 			.info.pull-right
		//- 				rating(
		//- 					ng-model="c.rating"
		//- 					readonly="true"
		//- 					state-on="'fa fa-star'"
		//- 					state-off="'fa fa-star-o'"
		//- 				)
		//- 				.price {{c.price | currency: "&euro; "}}

		//- 	.clearfix.hidden-sm.hidden-xs

		.row
			.col-md-3.col-sm-6(
				ng-repeat="c in vm.products"
				ng-class="{clear: $index != 0 && $index%4 == 0 }"
			)
				.product.clearfix
					img.img-responsive( ng-src="{{c.image}}" )
					.title {{c.title}}
					.info.pull-right
						rating(
							ng-model="c.rating"
							readonly="true"
							state-on="'fa fa-star'"
							state-off="'fa fa-star-o'"
						)
						.price {{c.price | currency: "&euro; "}}

	nav.text-center
			ul.pagination
				li
					a(href="#")
						i.fa.fa-angle-double-left
				li
					a(href="#")
						i.fa.fa-angle-left

				li.disabled
					a(href="#") 1

				li.active
					a(href="#") 2

				li
					a(href="#") 3

				li
					a(href="#") &hellip;

				li
					a(href="#") 30

				li
					a(href="#") 31

				li
					a(href="#")
						i.fa.fa-angle-right

				li
					a(href="#")
						i.fa.fa-angle-double-right



