.modal-header
	h3.modal-title {{"auth.log_in" | translate }}

.modal-body
	form( role="form" name="formLogin" novalidate)

		.form-group
			input.form-control(
				type="text"
				name="inpUsername"
				placeholder="Email or Username"
				ng-model="login.username"
			)

		.form-group
			input.form-control(
				type="password"
				name="inpPassword"
				placeholder="Password"
				ng-model="login.password"
			)


		.row
			.col-sm-6
				.form-groupt
					button.btn.btn-link {{"auth.restore_password" | translate }}

				.form-group
					button.btn.btn-link(ng-click="doSignup($event)") {{"auth.sign_up" | translate }}

			.col-sm-6
				.form-group
					.checkbox
						label
							input(
								type="checkbox"
								name="inpRemember"
								ng-model="login.remember"
							)
							span {{"auth.remember_me" | translate }}

				.form-group
					button.btn.btn-default(type="submit" ng-click="doLogin($event)" ) {{"common.submit" | translate }}
