.modal-header
	h3.modal-title Sign up

.modal-body
	form(
		role="form"
		name="formSignup"
		novalidate
		ng-hide="vm.signedup"
	)

		.form-group
			input.form-control(
				type="text"
				name="username"
				placeholder="Username"
				ng-model="signup.username"
			)

		.form-group
			input.form-control(
				type="email"
				name="email"
				placeholder="Email"
				ng-model="signup.email"
			)

		.form-group
			input.form-control(
				type="password"
				name="password"
				placeholder="Password"
				ng-model="signup.password"
			)

		.form-group
			button.btn.btn-default(
				type="submit"
				ng-click="doSignup($event)"
			) {{"auth.sign_up" | translate }}

		.form-group
			button.btn.btn-link( ng-click="doLogin($event)" ) {{"common.submit" | translate }}


	div(ng-show="vm.signedup")
		p.text-center {{"auth.sign_up_complete" | translate }}
